/**
 * @file: style.css
 * @authors: Gabriele Bovolenta, Luna Diatto, Eloise Giorda, Marco Parisi, Diego Vaschetto
 * @project: Expiry List
 * 
 * This file contains the CSS applied to the index.html page
 */

table {
    margin: 10px auto;
    width: 80%;
    vertical-align: middle;
    border: 1px solid #1c1c1c;
}

table tr th, table tr th {
    background-color: orange;
    padding: 5px;
    text-align: center;
}

table tr td {
    padding: 5px;
    text-align: center;
}

table tr:nth-child(even) td {
    background-color: #ccc;
}

h5 {
    text-align: center;
    font-size: 16px;
}